.zone-drop{
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: 'wrap';
    margin-top: 16;
    &__thumb{
        display: inline-flex;
        border-radius: 2px;
        border: 1px solid rgb(234, 234, 234);
        margin-bottom: 8px;
        margin-right: 8px;
        width: 100px;
        height: 100px;
        padding: 4px;
        box-sizing: border-box;
    }
    &__thumb-inner{
        display: flex;
        min-width: 0px;
        overflow: hidden;
        position: relative;
    }
    &__icon{
        position: absolute;
        right: -4px;
        bottom: 0;
       
    }
    &__img{
        display: block;
        width: 100px;
        height: 100%;
    }
}
